# Apache airlow
AIRFLOW_UID=


# Postgre
POSTGRES_USER=
POSTGRES_PASSWORD=


# Superset
SUPERSET_SECRET_KEY=
SUPERSET_ADMIN_USERNAME=
SUPERSET_ADMIN_PASSWORD=
SUPERSET_ADMIN_FIRSTNAME=
SUPERSET_ADMIN_LASTNAME=
SUPERSET_ADMIN_EMAIL=